<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/img/css/styles.css">
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/bernel-lee">Bernel Lee</a></li>
        <li><a href="/clarke"></a>Clarke</li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="hooper">Hooper</a></li>
        <li><a href="lovelace">Lovelace</a></li>
        <li><a href="turing">Turing</a></li>
    </ul>
</body>
</html>